<section class="home-content">

    <div class="row">
        <div class="col-lg-4">
            <div class="story">
                <div class="heading">
                    Top stories
                </div>
                <div class="post">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, corrupti.</p>
                    <img src="../css/image/demo1.jpg" alt="">
                </div>
                <hr>

                <div class="post">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, labore?</p>
                    <img src="../css/image/demo3.jpg" alt="">
                </div>
                <hr>

                <div class="post">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, tempore!</p>
                    <img src="../css/image/demo5.jpg" alt="">
                </div>
                <hr>


            </div>
        </div>
        <div class="col-lg-2">
            <div class="top-post">
                <div class="post-2">
                    <img src="../css/image/demo2.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="post-2">
                    <img src="../css/image/demo4.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="post-2">
                    <img src="../css/image/demo3.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="post-2">
                    <img src="../css/image/demo1.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>

    </div>

    <div class="top-pick">
        <div class="heading">
            TOP PICKS
        </div>
        <div class="pick-posts">

            <div class="post-3">
                <img src="../css/image/nora.webp" alt="">
                <div class="post-3-content">
                    <span class="tag">celeb</span>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit, sed!</p>
                </div>
            </div>
            <div class="post-3">
                <img src="../css/image/virat-kohli.webp" alt="">
                <div class="post-3-content">
                    <span class="tag">actor</span>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit, sed!</p>
                </div>
            </div>
            <div class="post-3">
                <img src="../css/image/tara-sujatia.webp" alt="">
                <div class="post-3-content">
                    <span class="tag">Beauty</span>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit, sed!</p>
                </div>
            </div>
            <div class="post-3">
                <img src="../css/image/bollywood-star.webp" alt="">
                <div class="post-3-content">
                    <span class="tag">style</span>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit, sed!</p>
                </div>
            </div>
            <div class="post-3">
                <img src="../css/image/hero.webp" alt="">
                <div class="post-3-content">
                    <span class="tag">cool</span>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit, sed!</p>
                </div>
            </div>
        </div>
    </div>

</section>